<div class="container">
    <div class="h3">
        You are not authorized to view this page.
    </div>
    <div>
        <a asp-controller="Authentication" asp-action="Logout">Log out</a>
    </div>
</div>